body{
    overflow-x: hidden;
}
.bg-darkblue{
    background-color: #2c3e50;
}
.row-header{
    height:100%;
    max-width:100%;
}
.figure-text-section{
    width:100%;
}
.divisor-line{
    font-size: 30px;
}
.imagine{
   width:50%;
   height:50%;
   text-align: center;
}
.avatar-image{
    width:50%;
    height:50%;
}
.section-divisor{
    width:60%;
    color:red;
}
.figure-text-section{
    background-color: aquamarine;
}
.bigger-star-divisor{
    font-size:38px;
}
.image-bigger{
    width:100%;
    min-height:200px;
    border:1 px solid red;
}
.debugger{
    border:2px solid red;
}
.border-white{
    border:1px solid white;
}
.background-aqua-section{
    background-color: aqua;
}
.text-message{
    min-height:100px;
}
.send-button{
    width:100px;
    font-size: 20px;
  background-color: blue;
  color:white
}
.location{
    min-height:200px;
}
  .gray-color{
      background-color: slategray;
  }
  .black-color{
      background-color: black;
  }
  .footer-section{
     min-height:150px;
  }
  .text-footer-container{
      vertical-align: middle;
      height:100px;
      width:100%;
  }
  .w-45{
      width:45%;
  }
  /* pseudoelementi */
  .divisor-line::after{
    content: '______________';
    }
    .divisor-line::before{
        content: '______________';
        }